<h1><center>Working with Data</center></h1>
<hr>

<h3>importing libraries</h3>

In [2]:
import matplotlib
import pandas as pd
import numpy as np

### establishing dataframe

In [9]:
df = pd.read_csv('cars.csv')

df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693.0,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US

### working through the data

In [10]:
df.groupby("Cylinders").mean()

,MPG,Displacement,Horsepower,Weight,Acceleration,Model
Cylinders,,,,,,
3,20.550000,72.500000,99.250000,2398.500000,13.250000,75.500000
4,28.862319,109.900966,76.574879,2312.685990,16.616425,77.028986
5,27.366667,145.000000,82.333333,3103.333333,18.633333,79.000000
6,19.985714,218.142857,100.297619,3198.226190,16.263095,75.928571
8,14.270370,345.203704,158.453704,4105.194444,12.837037,73.722222

In [11]:
df.dtypes

Car              object
MPG             float64
Cylinders         int64
Displacement    float64
Horsepower      float64
Weight          float64
Acceleration    float64
Model             int64
Origin           object
dtype: object

In [14]:
cyl5 = df[df['Cylinders'] == 5]

cyl5.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
281,Audi 5000,20.3,5,131.0,103.0,2830.0,15.9,78,Europe
304,Mercedes Benz 300d,25.4,5,183.0,77.0,3530.0,20.1,79,Europe
334,Audi 5000s (diesel),36.4,5,121.0,67.0,2950.0,19.9,80,Europe